body {
   background-color: seashelL;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    color: deeppink;
}

a:link {
    color: palevioletred
}

a:visited {
    color: palevioletred;
}